body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(160, 110, 240));
}
h2{
    text-shadow: 2px 2px 5px rgb(134, 164, 245);
    text-align: center;
}
.img-wrap{
    width:100%;
    top:80px;

}
.img-wrap img{
  width: 100%;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px #999999;
  top:80px;
  position: relative;
 
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
p{
    font-size: 18px;
    color:black;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
    
}
.div2 {
    width: 500px;
    height: 200px;  
    padding: 5px;
    border: 2px solid rgb(33, 4, 87);
  }